<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/b-2.4.1/sl-1.7.0/datatables.min.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px">
      <a class="navbar-brand" href="/" style="margin-right: 200px;">
        <img src="/static/urbackup.png" width="40" height="40" class="d-inline-block align-center" alt="" style="margin-left: 10px; margin-right: 10px;">UrBackup Dashboard</a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Servers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/archived">Archive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/replica">Replica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emails">Emails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sessions">Sessions</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>


