<html>

<head>
    <title>UrBackup outdated backups and issues</title>
</head>

<body>
    <h3>UrBackup outdated backups and issues</h1>
        <p style="max-width: 900px;">
            UrBackup clients list with active issues
        </p>
        <table id="data" style="border: 1px solid black; border-collapse: collapse;">
            <thead style="border: 1px solid black; padding: 8px 16px;">
                <tr>
                    <th style="border: 0px solid black; padding: 8px 16px;">Server name</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Computer name</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Last seen</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Last file backup</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Last image result</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Last file backup status</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Last image backup status</th>
                    <th style="border: 0px solid black; padding: 8px 16px;">Errors</th>
                </tr>
            </thead>
            <tbody>
                {% for row in clients %}
                <tr>
                    <td style="border: 1px solid black; padding: 8px 16px;">{{ row[0] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px;">{{ row[1] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px;">{{ row[2] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px;">{{ row[3] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px;">{{ row[4] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px; text-align: center">{{ row[5] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px; text-align: center">{{ row[6] }}</td>
                    <td style="border: 1px solid black; padding: 8px 16px; text-align: center">{{ row[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>

</html>